.left-messages {
	float: left;
	border-right: 1px solid black;
	height: 100px;
	overflow-y: visible;
}
.right-messages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}
.incoming {
	float: left;
	margin: 20px;
}
.outgoing {
	border: 1px solid black;
	width: fit-content;
	margin: 20px;
}
.right-down-messages {
	position: fixed;
	float: right;
	bottom: 0;
}
.incoming-msg {
	border: 1px solid black;
	width: fit-content;
}
